

body {
  margin: 0;
  padding: 0;
  /*background-image: url(https://img.freepik.com/free-photo/illustration-cosmic-background-with-orange-neon-laser-lights_181624-19567.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;*/
  
  height: 100vh;
  display: flex;
  color: white;
  font-family: 'Roboto Slab';
  align-items: center;
  justify-content: center
}

.container {
  max-width: 100%; /* Set a maximum width for your content */
  margin: 0 auto; /* Center the content horizontally */
  height: auto; 
  padding: 20px;
  text-align: center;
}

.container img{
  border: 1px black solid;
  border-radius: 10px;
}
