

body {
  margin: 0;
  padding: 0;
  background-image: url('https://img.freepik.com/free-vector/digital-dark-wavy-background_23-2148388254.jpg?size=626&ext=jpg&ga=GA1.1.34264412.1698796800&semt=ais'); 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Roboto Slab';
}

.container {
  text-align: center;
}
